In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('./foia_data.csv')
df.head()

,Issue Date,Officer Name,Street,Liscense Plate,State,Issue time,Number,Description,Issue Amount,Second Ticket,Second Ticket Amount
0,8/22/16,Kim Perry,Rolfe Rd,KBD8653,PA,9:56,50927224,Decal Parking Violation,25,NaN,NaN
1,8/22/16,Kim Perry,Rolfe Rd,VCS9920,VA,9:56,50927225,Decal Parking Violation,25,NaN,NaN
2,8/22/16,Schneider,Rolfe Rd,XLR5187,VA,1:17,1231311,Park on Side Walk,10,NaN,NaN
3,8/23/16,Kim Perry,Rolfe Rd,VPS3577,VA,10:28,50927248,Decal Parking Violation,25,NaN,NaN
4,9/13/16,Kim Perry,Rolfe Rd,523YML,CT,10:26,50927480D,Decal Parking Violation,25,NaN,NaN

In [4]:
df.dtypes

Issue Date               object
Officer Name             object
Street                   object
Liscense Plate           object
State                    object
Issue time               object
Number                   object
Description              object
Issue Amount              int64
Second Ticket            object
Second Ticket Amount    float64
dtype: object

In [7]:
df.columns = df.columns.str.replace(' ', '_').str.lower()
df.head()

,issue_date,officer_name,street,liscense_plate,state,issue_time,number,description,issue_amount,second_ticket,second_ticket_amount
0,8/22/16,Kim Perry,Rolfe Rd,KBD8653,PA,9:56,50927224,Decal Parking Violation,25,NaN,NaN
1,8/22/16,Kim Perry,Rolfe Rd,VCS9920,VA,9:56,50927225,Decal Parking Violation,25,NaN,NaN
2,8/22/16,Schneider,Rolfe Rd,XLR5187,VA,1:17,1231311,Park on Side Walk,10,NaN,NaN
3,8/23/16,Kim Perry,Rolfe Rd,VPS3577,VA,10:28,50927248,Decal Parking Violation,25,NaN,NaN
4,9/13/16,Kim Perry,Rolfe Rd,523YML,CT,10:26,50927480D,Decal Parking Violation,25,NaN,NaN

In [9]:
df['issue_date2'] = df.issue_date.str.split('/')
df.head()

,issue_date,officer_name,street,liscense_plate,state,issue_time,number,description,issue_amount,second_ticket,second_ticket_amount,issue_date2
0,8/22/16,Kim Perry,Rolfe Rd,KBD8653,PA,9:56,50927224,Decal Parking Violation,25,NaN,NaN,"[8, 22, 16]"
1,8/22/16,Kim Perry,Rolfe Rd,VCS9920,VA,9:56,50927225,Decal Parking Violation,25,NaN,NaN,"[8, 22, 16]"
2,8/22/16,Schneider,Rolfe Rd,XLR5187,VA,1:17,1231311,Park on Side Walk,10,NaN,NaN,"[8, 22, 16]"
3,8/23/16,Kim Perry,Rolfe Rd,VPS3577,VA,10:28,50927248,Decal Parking Violation,25,NaN,NaN,"[8, 23, 16]"
4,9/13/16,Kim Perry,Rolfe Rd,523YML,CT,10:26,50927480D,Decal Parking Violation,25,NaN,NaN,"[9, 13, 16]"

In [10]:
df['month'] = df.issue_date2.str.get(0)
df['day'] = df.issue_date2.str.get(1)
df['year'] = df.issue_date2.str.get(2)
df.head()

,issue_date,officer_name,street,liscense_plate,state,issue_time,number,description,issue_amount,second_ticket,second_ticket_amount,issue_date2,month,day,year
0,8/22/16,Kim Perry,Rolfe Rd,KBD8653,PA,9:56,50927224,Decal Parking Violation,25,NaN,NaN,"[8, 22, 16]",8,22,16
1,8/22/16,Kim Perry,Rolfe Rd,VCS9920,VA,9:56,50927225,Decal Parking Violation,25,NaN,NaN,"[8, 22, 16]",8,22,16
2,8/22/16,Schneider,Rolfe Rd,XLR5187,VA,1:17,1231311,Park on Side Walk,10,NaN,NaN,"[8, 22, 16]",8,22,16
3,8/23/16,Kim Perry,Rolfe Rd,VPS3577,VA,10:28,50927248,Decal Parking Violation,25,NaN,NaN,"[8, 23, 16]",8,23,16
4,9/13/16,Kim Perry,Rolfe Rd,523YML,CT,10:26,50927480D,Decal Parking Violation,25,NaN,NaN,"[9, 13, 16]",9,13,16

In [18]:
df.to_csv('time_split_ticket_data.csv')